[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = false 
[merge]
	tool = vimdiff
[color]
	ui = on
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	co = checkout
	br = branch
	ci = commit
	st = status
	br = branch
	ls = branch -a
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	clear = reset --hard
	cob = checkout -b
	mg = merge --no-ff
[mergetool]
	prompt = false
[push]
	default = simple

